<h1 class="title is-1">Acknowledgements</h1>
<h2 class="title is-2">Thank You</h2>
<p>
This site owes a great debt to <a href="https://github.com/ankane">@ankane</a>, for all the work done
in the development of the original <a href='https://www.datakick.org'>Datakick</a> service.
<p>We'd like to send out a huge thank you to @ankane, and hope that we can continue to build upon his efforts.</p>
<h2 class="title is-2">Images and Icons</h2>

<div>The icons used on this were made by <a href="https://www.flaticon.com/authors/pause08" title="Pause08">Pause08</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
