<section class="section">
  <div class="container">
    <h1 class="title">API Documentation</h1>

    <%= render partial: 'home/documentation/overview' %>

    <h2 class="subtitle">Header Pagination Info</h2>

    <h3>Header - <span class="is-family-monospace">links</span> - First Header</h3>
    <p>
      https://www.brocade.io/api/items?page=20&query=peanut+butter; rel="last", https://www.brocade.io/api/items?page=2&query=peanut+butter; rel="next"
    </p>

    <h3>Header - <span class="is-family-monospace">links</span> - Subsequent Headers</h3>
    
    <p>NB include the previous and
https://www.brocade.io/api/items?page=1&query=peanut+butter; rel="first", https://www.brocade.io/api/items?page=1&query=peanut+butter; rel="prev",

    <p><span class="is-family-monospace">Header</span> - per-page & total<p>
per-page - Results per page = 100
total - Total number records = 1912
total / per-page = Total Pages 19.12 rounded up = 20. Total is also found in Header - links last

  </div>
</section>
