@import 'bulma_overrides';
@import '~bulma';

// Hero
.hero-body {
  padding-top: 0px;
}

// Sign up / login button

.secondary-btn {
  border-color: $secondary;
  background-color: $secondary;
  color: $white;
}

.feature-card {
  height: 320px;
  background-color: $white;
  border-radius: 5px;
  margin: 0 auto;
}

.feature-card.is-bordered {
  border: 1px solid #ededed;
}

.feature-card > .card-title h4 {
  padding-top: 20px;
  font-size: 1rem;
  font-weight: 600;
}

.feature-card > .card-icon {
  span.icon {
    font-size: 2rem;
    padding-top: 1.5rem;
  }
}

.feature-card > .card-text {
  padding-left: 35px;
  padding-right: 35px;
}
// Footer
.footer-logo {
  img {
    height: 70px;
  }
}

.footer-column {
  .footer-header h3 {
      font-weight:500;
      font-size: 1.2rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 20px;
  }
  ul.link-list {
      line-height: 40px;
      font-size: 1.1rem;
      a {
          color: $light-blue-grey;
          font-weight: 400;
          transition: all 0.5s;
      }
      :hover {
          color: $smoke-white;
      }
  }
  .level-item .icon {
      color: $secondary;
      transition: all 0.5s;
      :hover {
          color: $smoke-white;
      }
  }
}




