<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Brocade.io</strong> by <a href="https://github.com/ferrisoxide">Thomas Tuddenham</a>. The source code is licensed
      <a href="https://opensource.org/licenses/AGPL-3.0">AGPL v3</a>. Data served from this site
      is licensed <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0 Universal (CC0 1.0)
Public Domain Dedication</a>.
    </p>
  </div>
</footer>
