<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="footer-logo">
          <%= image_tag 'barcode-white-large.png', height: '100px' %>
        </div>
      </div>
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>Brocade IO</h3>
          </div>
          <ul class="link-list">
            <li>
              <a href="https://github.com/ferrisoxide/brocade.io">Source Code</a>
            </li>
            <li><%= link_to 'Acknowledgements', acknowledgements_path %></li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>Docs</h3>
          </div>
          <ul class="link-list">
            <li><%= link_to 'API', documentation_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
