<article class="message is-info ">
  <div class="message-body is-size-7">

    <h1 class="title is-size-7">
      Work in Progress
    </h1>
    <p class="is-size-7">
      We're just in the process of setting up this site. Everything will be a bit rough for a while.
    </p>
    <p class="is-size-7">
      Please bear with us while we work through the set up.
    </p>
    <p class="is-size-7">
      If you feel like you might be able to lend a hand - even just to file bug reports / feature requests - head on over to the <a href="https://github.com/ferrisoxide/brocade.io">project page</a> on Github.
    </p>
  </div>
</article>
